@using Microsoft.AspNetCore.Http
@model FileManager.Models.Account

@{
    var username = Context.Session.GetString("username");
}

<center>
    <hr />
    <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="Welcome">
        <input type="file" name="file" />
        <input type="submit" name="Upload" />
        <hr />
        <table class="table">
            <tr>
                <th>File Name</th>
            </tr>
            @foreach (var item in Model.Fileimage)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><a href="@Url.Action("Delete", "Account", new { imgdel = item.Name })">Delete</a></td>
                    <td><a href="@Url.Action("Edit", "Account", new { imgedit = item.Name })">Edit</a></td>
                </tr>
            }
        </table>
    </form>

    <hr />
    <form method="post" asp-controller="Account" asp-action="Logout">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>

</center>
